{% load static core %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="{% static '/css/index.css' %}"/>
  <link rel="shortcut icon" href="{% static '/icons/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static '/icons/touch-icon-iphone.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/icons/touch-icon-ipad.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/icons/touch-icon-iphone-retina.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static '/icons/touch-icon-ipad-retina.png' %}">
  <link rel="mask-icon" href="{% static '/icons/pin-safari.svg' %}" />
  <title>{{title}}</title>
  <meta content="Urelocation" name="description" />
  {% staticblock 'scripts_head' %} {% endstaticblock %}  
</head>

<body id="body" ontouchstart="" class="{{body_class}}">
  {% staticblock 'scripts_body' %} {% endstaticblock %}  
  <header class="header">
      <div class="wrapper">

          <a href="/" class="logo">
            <picture>
              <source media="(max-width:1069px)" srcset="{% static '/img/logo-mobile.png' %}">
              <img src="{% static '/img/logo.png' %}" alt="Urelocation" style="width:auto;">
            </picture>
          </a>

          <div class="header__separator"></div>

          <div class="header__tagline">
            {% staticblock 'header_tagline' %}One platform meeting all <br /> your relocation needs{% endstaticblock %}            
          </div>

          <div class="header__menu">
            <ul class="menu">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-child">
                  <a href="#">Services</a>
                  <ul class="submenu">
                    <li><a href="/gtv/">Global Talent Vise</a></li>
                    <li><a href="#">Post-relocation</a></li>
                    <li><a href="#">Settlement in the UK</a></li>
                  </ul>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="/contacts/">Contact </a></li>
            </ul>
          </div>

          <a href="/scoring/" class="bttn bttn--check" >
            Take a scoring test
          </a>

          <div class="menu-selector js-toogle-menu">
            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.65182 0.565166C5.42606 0.648067 5.25505 0.798509 5.1306 1.0236C5.03531 1.19597 5.01722 1.27289 5.01784 1.50256C5.01898 1.89827 5.20389 2.20064 5.56376 2.39521L5.7201 2.47971H12.5015H19.2829L19.4393 2.39521C19.7991 2.20064 19.984 1.89827 19.9852 1.50256C19.9858 1.27289 19.9677 1.19597 19.8724 1.0236C19.7446 0.79245 19.5758 0.647168 19.3372 0.562977C19.1017 0.47988 5.87832 0.481991 5.65182 0.565166ZM0.834361 6.52217C0.597774 6.5629 0.396911 6.67449 0.248893 6.8474C-0.181677 7.35044 -0.0370593 8.08056 0.554936 8.39278L0.756189 8.49894H10H19.2438L19.4451 8.39278C20.0372 8.08049 20.1817 7.35044 19.7509 6.84717C19.6774 6.7613 19.5333 6.64932 19.4305 6.59831L19.2438 6.50556L10.1173 6.5004C5.09766 6.49755 0.92035 6.50736 0.834361 6.52217ZM9.66328 12.5681C9.43865 12.6483 9.20433 12.8609 9.10287 13.0768C8.99995 13.2958 8.98565 13.6694 9.07226 13.8767C9.16095 14.089 9.37232 14.3057 9.58933 14.4067L9.78503 14.4978L14.4802 14.4982C19.5782 14.4987 19.3362 14.5087 19.629 14.2853C19.7004 14.2308 19.8099 14.0939 19.8724 13.9809C19.9677 13.8085 19.9858 13.7316 19.9852 13.5019C19.984 13.1062 19.7991 12.8039 19.4393 12.6093L19.2829 12.5248L14.5535 12.5178C10.4829 12.5117 9.80172 12.5188 9.66328 12.5681Z" fill="#32333D"/></svg>
          </div>
      </div>
  </header>

  <main>
    {% block homepage %}
    {% endblock %}

    {% block thanks %}
    {% endblock %}

    {% block testimonials %}
    {% endblock %}

    {% block scoring %}
    {% endblock %}

    {% block gtv %}
    {% endblock %}

    {% block contacts %}
    {% endblock %}
</main>

<a href="#" class="upButton"></a>

<div class="wrapper">

  <footer id="footer" class="footer">
    <div class="footer__body">
      <a href="/" class="logo">
        <picture>
          <source media="(max-width:1069px)" srcset="{% static '/img/logo-footer-mobile.png' %}">
          <img src="{% static '/img/logo-footer.png' %}" alt="Urelocation" style="width:auto;">
        </picture>
      </a>

      <div class="footer__tagline">
        All immigration advice is <br /> provided by OISC regulated <br /> partner. Ref No. F202100337
      </div>

      <div class="footer__menu footer__block">

        <div class="footer__title">Main menu</div>

        <ul class="menu">
            <li class="active"><a href="/">Home</a></li>
            <li class="has-child">
              <a href="#">Services</a>
              <ul class="submenu">
                <li><a href="/gtv/">Global Talent Vise</a></li>
                <li><a href="#">Post-relocation</a></li>
                <li><a href="#">Settlement in the UK</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="/contacts/">Contact </a></li>
        </ul>

      </div>

      <div class="footer__address footer__block">

        <div class="footer__title">Address</div>

        <p>132-134 Lots Rd, Chelsea, <br /> London SW10 0RJ</p>
      </div>

      <div class="footer__social footer__block">

        <div class="footer__title">Follow us</div>

        <div class="socLinks">
          <a href="#" class="socLink socLink--in"></a>
          <a href="#" class="socLink socLink--fb"></a>
          <a href="#" class="socLink socLink--inst"></a>
          <a href="#" class="socLink socLink--telega"></a>
        </div>
      </div>
    </div>
  </footer>

</div>

<link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}"/>
<link rel="stylesheet" href="{% static '/css/owl.theme.default.min.css' %}"/>

<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/js/jquery.inputmask.min.js' %}"></script>
<script src="{% static '/js/_script.js' %}"></script>
</body>
</html>

