{% extends 'base.html' %}
{% load static %}
{% block contacts %}
	<div class="section">
		<div class="wrapper">
			<h1 class="title">Contacts</h1>
			<p class="subtitle">Have any questions? We’d love to hear from you</p>

			<div class="contactsBox">
				<div class="contactsBox__img">
					<picture>
						<source media="(max-width:1069px)" srcset="{% static '/uploads/img/team-mobile.jpg' %}">
						<img src="{% static '/uploads/img/team.jpg' %}" alt="Urelocation" style="width:auto;">
					</picture> 
				</div>
				<div class="contactsBox__list">
					<div class="contactsBox__block">
						<h2 class="title title--extrasmall">Our address</h2>
						<p class="subtitle">132-134 Lots Rd, Chelsea, London SW10 0RJ</p>
						<a href="https://goo.gl/maps/4kYbPqZkE1e8FX7q7" target="_blank" class="bttn bttn--check">Open google maps</a>
					</div>
					
					<div class="contactsBox__block">
						<h2 class="title title--extrasmall">Phone</h2>
						<p class="subtitle"><a href="tel:+442035970983">+44 20 3597 0983</a></p>
						<a href="#" class="bttn bttn--cta bttn--check">Call back</a>
					</div>
				</div>
			</div>

			<div class="box">				
				<h2 class="title title--extrasmall">Contact us</h2>
				<p>To contact one of our offices, please visit our <a href="#">offices</a> page. For questions regarding nonlegal personnel or legal recruiting, please visit our <a href="#">careers</a> page.</p>

				<div class="contactsForm">
					<div class="formBlock">
						<form id="contacts-form" name="contacts-form" action="">
						
							<div class="formBlock__item formBlock__item--select">
								<select name="inquiry" id="">
									<option value="1">Inquiry Type</option>
									<option value="2">Inquiry Type</option>
									<option value="3">Inquiry Type</option>
									<option value="4">Inquiry Type</option>
								</select>
							</div>
							<div class="formBlock__item">
								<input type="text" value="" name="name" placeholder="First Name*" required>
							</div>
							<div class="formBlock__item">
								<input type="text" value="" name="email" placeholder="Email*" required>
							</div>
							<div class="formBlock__item">
								<input type="text" value="" name="phone" placeholder="Phone">
							</div>
							<div class="formBlock__item">
								<textarea name="msg" id="" cols="30" rows="4" placeholder="How can we help?*" required></textarea>
							</div>
							<div class="formBlock__item formBlock__item--submit">
								<button class="bttn bttn--check" form="contacts-form" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}