<div class="faqList" itemscope="" itemtype="https://schema.org/FAQPage">
    <div class="faqItem" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faqItem__ask" itemprop="name">What does a Global Talent Visa offer?</div>
        <div class="faqItem__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                Global Talent candidates in digital tech will need to attach a completed Visa application form, which includes:
                <ul>							
                <li>A Personal Statement;</li>
                <li>A CV, containing your experience, contributions to the relevant field, publications, etc;</li>
                <li>At least 3 letters of recommendation from recognised leaders in the tech industry;</li>
                <li>Up to 10 pieces of evidence in relation to the relevant Eligibility Criteria.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="faqItem" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faqItem__ask" itemprop="name">Who can apply for the Global Talent Visa?</div>
        <div class="faqItem__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            Global Talent candidates in digital tech will need to attach a completed Visa application form, which includes:
                <ul>							
                <li>A Personal Statement;</li>
                <li>A CV, containing your experience, contributions to the relevant field, publications, etc;</li>
                <li>At least 3 letters of recommendation from recognised leaders in the tech industry;</li>
                <li>Up to 10 pieces of evidence in relation to the relevant Eligibility Criteria.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="faqItem" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faqItem__ask" itemprop="name">What does a Global Talent Visa offer?</div>
        <div class="faqItem__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            Global Talent candidates in digital tech will need to attach a completed Visa application form, which includes:
                <ul>							
                <li>A Personal Statement;</li>
                <li>A CV, containing your experience, contributions to the relevant field, publications, etc;</li>
                <li>At least 3 letters of recommendation from recognised leaders in the tech industry;</li>
                <li>Up to 10 pieces of evidence in relation to the relevant Eligibility Criteria.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="faqItem" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faqItem__ask" itemprop="name">What does Urelocation offer?</div>
        <div class="faqItem__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
            Global Talent candidates in digital tech will need to attach a completed Visa application form, which includes:
                <ul>							
                <li>A Personal Statement;</li>
                <li>A CV, containing your experience, contributions to the relevant field, publications, etc;</li>
                <li>At least 3 letters of recommendation from recognised leaders in the tech industry;</li>
                <li>Up to 10 pieces of evidence in relation to the relevant Eligibility Criteria.</li>
                </ul>
            </div>
        </div>
    </div>
</div>