{% extends 'base.html' %}
{% load static %}
{% block gtv %}
	<div class="hero hero--visa">		
		<div class="wrapper">

			<div class="hero__text">
				<h1 class="title">The Global <br /> Talent Visa</h1>
				<p class="subtitle">
					The Global Talent Visa enables the best tech <br /> 
					specialists and entrepreneurs from around the world <br /> 
					to come and work in the UK’s digital technology sector
				</p>

				<div class="hero__actions">
					<a href="/scoring/" class="bttn bttn--check bttn--cta bttn--tall">Get the visa</a>

					<div class="hero__notion">evaluate your <br /> chances first</div>
				</div>
			</div>

		</div>
	</div>

    {% include 'prof_list.html' %}

	<div class="section">
		<div class="wrapper">
			<h2 class="title">URElocation services</h2>
			<p class="subtitle">Since 2019, ~300 tech professionals have received the Global Talent <br /> Visa with us, and that number is growing every day</p>  

			<div class="advantageList advantageList--gap">

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/10.jpg' %}" alt="What we offer">
					</div>
					<div class="advantageItem__info">
						<div class="advantageItem__title">What we offer</div>
						<div class="advantageItem__text">Unique scoring system to estimate your eligibility. Our data-driven scoring system helps predict your eligibility with 96% accuracy. Take a test to start your immigration journey</div>
						<a href="/scoring/" class="bttn bttn--tall bttn--cta bttn--check">Take a scoring test</a>						
					</div>
				</div>

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/screenshot.png' %}" alt="Al-based platform for a winning case">
					</div>					
					<div class="advantageItem__info">
						<div class="advantageItem__title">Al-based platform for a winning case</div>
						<div class="advantageItem__text">With automated feedback and smart suggestion, the platform collects and reviews all your data to help you shape your unique story.</div>
					</div>
				</div>

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/9.jpg' %}" alt="Double-checking by our experts">
					</div>					
					<div class="advantageItem__info">
						<div class="advantageItem__title">Double-checking by our experts</div>
						<div class="advantageItem__text">Forms autofilling, bundling the case with prepared documents and double security through checking with our trusted lawyers before the submission.</div>
						<a href="/scoring/" class="bttn bttn--tall bttn--cta bttn--check">Take a scoring test</a>
					</div>
				</div>

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/12.jpg' %}" alt="Live support via messengers and email">
					</div>					
					<div class="advantageItem__info">
						<div class="advantageItem__title">Live support via messengers and email</div>
						<div class="advantageItem__text">Live notifications and status updates through the telegram chatbot, messenger and email will keep you up-to-date with everything regarding your case.</div>
					</div>
				</div>

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/11.jpg' %}" alt="Appeal in case of rejection">
					</div>					
					<div class="advantageItem__info">
						<div class="advantageItem__title">Appeal in case of rejection</div>
						<div class="advantageItem__text">If you received a rejection from Tech Nation – do not worry it’s not the end. Our team will help you prepare and submit an appeal against it.</div>
						<a href="/scoring/" class="bttn bttn--tall bttn--cta bttn--check">Take a scoring test</a>
					</div>
				</div>

			</div>	

			<div class="iconBlock iconBlock--stamp">
				<h2 class="title">Take our scoring test</h2>
				<p class="subtitle">and find out if you’re eligible for the Global Talent Visa</p>
				<a href="/scoring/" class="bttn bttn--tall bttn--check">Find out now</a>
			</div>
			
			<h2 class="title title--center">Benefits for the applicants</h2>
			<p class="subtitle">Global Talent Visa offers plenty of attractive advantages to endorsees</p>

			<div class="box box--tall">
				<h2 class="title title--center title--small">To get the Global Talent Visa, you <span>DON’T need</span></h2>

				<div class="tagList tagList--check" style="max-width: 600px;">
					<div class="tagItem">A job offer</div>
					<div class="tagItem">A degree</div>
					<div class="tagItem">A business idea or funding</div>
					<div class="tagItem">Proof of maintenance funds</div>
					<div class="tagItem">An English proficiency certificate</div>
				</div>
			</div>

			<div class="box box--tall">
				<h2 class="title title--center title--small">The Global Talent Visa <span class="cta">allows</span> you to</h2>

				<div class="tagList tagList--check">
					<div class="tagItem">Live, work, study in the UK</div>
					<div class="tagItem">Get ILR in 3 or 5 years*</div>
					<div class="tagItem">Run your own business</div>
					<div class="tagItem">Bring your family to the UK</div>
					<div class="tagItem">Become a British citizen in 5 or 6 years*</div>
					<div class="tagItem">Change employers, be self-employed</div>
				</div>
			</div>

			<h2 class="title">Promise and Talent candidates</h2>
			<p class="subtitle">There are two subcategories of the Global Talent Visa</p>	

			<div class="catBlk catBlk--family">
				<div class="catBlk__info">
					<div class="catBlk__label catBlk__label--cta">5+ years to permanent residence</div>
					<div class="catBlk__title">Exceptional Promise</div>
					<div class="catBlk__text">
						For emerging professionals who have the potential to become leading talents in the digital tech industry. <br />
						<b>Exceptional Promise candidates are usually</b><br />
						✦ at an early stage of their career<br />
						✦ must be able to demonstrate some significant achievements and contributions to the tech sector
					</div>
				</div>
			</div>

			<div class="catBlk catBlk--couple">
				<div class="catBlk__info">
					<div class="catBlk__label">3 years to permanent residence</div>
					<div class="catBlk__title">Exceptional Talent</div>
					<div class="catBlk__text">
						For uniquely talented and recognised individuals with a track record of achievements in the digital technology field.<br />
						<b>Candidates applying under this category usually</b><br />
						✦ hold senior positions<br />
						✦ can demonstrate significant traction within companies they founded or worked for or provide evidence of other significant achievements within the field
					</div>
				</div>
			</div>

			<div class="ctaBlock">
				<h2 class="title">Evaluate your Global Talent Visa chances</h2>
				<a href="/scoring/" class="bttn bttn--tall bttn--check bttn--cta">Take a scoring test</a>
			</div>

			<h2 class="title">Application process</h2>

			<div class="numList">
				<div class="numItem">
					<div class="numItem__title">Application for the Endorsement</div>
					<div class="numItem__text">
					The endorsing body assesses applicant's skills, abilities and achievements, and advises the Home Office whether they can be endorsed
					</div>
				</div>
				
				<div class="numItem">
					<div class="numItem__title">Application for the Visa</div>
					<div class="numItem__text">
					The Home Office considers immigration aspects, such as whether general grounds for refusal apply and, if you are already in the UK, whether you are able to switch into the category
					</div>
				</div>
			</div>

			<h2 class="title">Who is eligible for the <br /> Global Talent Visa?</h2>
			<p class="subtitle">There are two types of candidates for the Global Talent Visa</p>


			<div class="profList">

				<div class="profItem">
					<div class="profItem__img">
						<img src="{% static '/uploads/img/14.jpg' %}" alt="">
					</div>

					<div class="profItem__info">
						<div class="profItem__title">Technical</div>
						<div class="profItem__text">
						It’s pretty simple – if you’re a programmer, you can be considered a technical applicant. You must demonstrate deep expertise in building, deploying or using technology stack and technical infrastructure in product-led companies.
						</div>				

						<div class="tagList tagList--colored">
							<div class="tagItem">Data scientists</div>
							<div class="tagItem">UX/UI designers</div>
							<div class="tagItem">CTOs</div>
							<div class="tagItem">Technical heads/leads (all levels)</div>
							<div class="tagItem">DevOps/SysOps engineers</div>
							<div class="tagItem">Video game developers</div>
							<div class="tagItem">Software engineers/developers</div>
							<div class="tagItem">Product designers</div>
							<div class="tagItem">Front-end/back-end developers</div>
						</div>
					</div>
				</div>
				
				<div class="profItem">
					<div class="profItem__img">
						<img src="{% static '/uploads/img/12.jpg' %}" alt="">
					</div>

					<div class="profItem__info">
						<div class="profItem__title">Business</div>
						<div class="profItem__text">
						This option is for those who don’t do programming themselves, but hold leading positions in the IT industry.You must demonstrate a proven commercial or product expertise in building digital products or leading investments in product-led digital businesses.
						</div>				

						<div class="tagList tagList--colored">
							<div class="tagItem">CTOs</div>
							<div class="tagItem">Project/product managers</div>
							<div class="tagItem">Performance marketing experts</div>
							<div class="tagItem">Senior VC or PE analysts</div>
							<div class="tagItem">Commercial/business leads</div>
							<div class="tagItem">VC investors</div>
							<div class="tagItem">UX/UI researchers</div>
							<div class="tagItem">С-suite or heads of operations</div>
							<div class="tagItem">SaaS or enterprise sales executives</div>
		
						</div>
					</div>
				</div>
				
			</div>

			<div class="iconBlock iconBlock--family">
				<h2 class="title">Want to relocate to the UK?</h2>
				<p class="subtitle">Take our scoring test to evaluate your Global Talent chances</p>
				<a href="/scoring/" class="bttn bttn--tall bttn--check">Start now</a>
			</div>

			<h2 class="title">Useful articles</h2>

			<div class="articleList">

				<a href="#" class="articleListItem">
					<span class="articleListItem__img">
						<img src="{% static '/uploads/img/16.jpg' %}" alt="">
					</span>
					
					<span class="articleListItem__date">30.3.2023</span>
					
					<span class="articleListItem__title">Global Talent Visa extension, settlement and naturalisation in the UK</span>				

					<span class="articleListItem__text">
						The Global Talent is one of the few long-term visa options providing a transparent and predictable path to ILR and, subsequently, to UK citizenship.
					</span>
				</a>

				<a href="#" class="articleListItem">
					<span class="articleListItem__img">
						<img src="{% static '/uploads/img/13.jpg' %}" alt="">
					</span>
					
					<span class="articleListItem__date">27.3.2023</span>
					
					<span class="articleListItem__title">The cost and the processing time of the Global Talent Visa</span>				

					<span class="articleListItem__text">
						What are the fees for the Global Talent Visa? How much will it cost and how long will it take to obtain it? Check out our cost and processing times breakdown.
					</span>
				</a>

				<a href="#" class="articleListItem">
					<span class="articleListItem__img">
						<img src="{% static '/uploads/img/15.jpg' %}" alt="">
					</span>
					
					<span class="articleListItem__date">27.3.2023</span>
					
					<span class="articleListItem__title">Reasons For Endorsement Rejection</span>				

					<span class="articleListItem__text">
						What are the common reasons for endorsement rejection? Can they be avoided? We answer these questions in our guide.
					</span>
				</a>

			</div>

			<h2 class="title">FAQ</h2>

            {% include 'faq_list.html' %}
			
			<div class="ctaBlock">
				<h2 class="title">Relocate to the UK</h2>
				<a href="/scoring/" class="bttn bttn--tall bttn--check bttn--cta">Start now</a>
			</div>

			<h2 class="title">Testimonials</h2>

            {% include 'review_slider.html' %}
	
		</div>
	</div>

{% endblock %}