{% extends 'base.html' %}
{% load static %}
{% block homepage %}
	<div class="hero hero--home">
		<div class="wrapper">

			<div class="hero__text">
				<h1 class="title">One platform <br /> meeting <span>all your <br /> relocation</span> needs</h1>
				<p class="subtitle">Get a Global Talent Visa and relocate to the UK. <br /> Start your journey now</p>

				<div class="hero__actions">
					<a href="/scoring/" class="bttn bttn--check bttn--cta">
					Take a scoring test
					</a>

					<div class="hero__notion">Evaluate your chances and get detailed <br /> feedback from our team</div>
				</div>
			</div>

		</div>
	</div>

	{% include 'logo_list.html' %}

	<div class="section">
		<div class="wrapper">
			<h2 class="title">Immigration made easy</h2>
			<p class="subtitle">Urelocation simplifies the visa process for you and your international employees. <br /> We’ll handle the fine details so you can focus on other tasks</p>

			<div class="advantageList">

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/1.jpg' %}" alt="Fast Service">
					</div>
					<div class="advantageItem__info">
						<div class="advantageItem__title">Fast Service</div>
						<div class="advantageItem__text">We research, build, submit, and get approved visas in a fraction of the time while working around your timelines.</div>
					</div>
				</div>

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/2.jpg' %}" alt="Full control and visibility">
					</div>
					<div class="advantageItem__info">
						<div class="advantageItem__title">Full control and visibility</div>
						<div class="advantageItem__text">Our intuitive platform guides you and your employee through every step of the immigration process, with at-a-glance status updates along the way.</div>
					</div>
				</div>

				<div class="advantageItem">
					<div class="advantageItem__img">
						<img src="{% static '/uploads/img/7.jpg' %}" alt="Personalized case managers">
					</div>
					<div class="advantageItem__info">
						<div class="advantageItem__title">Personalized case managers</div>
						<div class="advantageItem__text">Feel confident with our team of global mobility experts. They’re on hand to answer all your questions, letting you focus on what really matters.</div>
					</div>
				</div>

			</div>

			<h2 class="title title--center">Who has relocated with the help <br /> of Urelocation?</h2>
			<p class="subtitle">You can be next! Start your relocation journey now</p>

			<div class="vacancySlider owl-carousel">

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/4.jpg' %}" alt="Developer">
					</span>
					<span class="vacancyItem__title">Developer</span>
				</a>

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/6.jpg' %}" alt="Data scientists">
					</span>
					<span class="vacancyItem__title">Data scientists</span>
				</a>

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/5.jpg' %}" alt="UI designer">
					</span>
					<span class="vacancyItem__title">UI designer</span>
				</a>

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/8.jpg' %}" alt="Game developer">
					</span>
					<span class="vacancyItem__title">Game developer</span>
				</a>

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/3.jpg' %}" alt="Product manager">
					</span>
					<span class="vacancyItem__title">Product manager</span>
				</a>

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/4.jpg' %}" alt="Solutions Architect">
					</span>
					<span class="vacancyItem__title">Solutions Architect</span>
				</a>

				<a href="#" class="vacancyItem">
					<span class="vacancyItem__img">
						<img src="{% static '/uploads/img/6.jpg' %}" alt="Systems Engineer">
					</span>
					<span class="vacancyItem__title">Systems Engineer</span>
				</a>

			</div>


			<h2 class="title">How can I start my <br /> Global Talent Visa case?</h2>
			<p class="subtitle">Is here to guide you on every step of preparing a case and becoming a Global <br /> Talent. To start your UK relocation journey choose a preferred route on our Platform:</p>

			<div class="tariffList">

				<div class="tariffItem">
					<div class="tariffItem__info">
						<div class="tariffItem__price">£5,500</div>
						<ol class="tariffItem__ol">
							<li>Paid in 2 instalments — pre-payment when signing the contract and post-payment after receiving the Endorsement.</li>
							<li>Paid in 5 five equal instalments first of which is payable when signing the contract, and the remaining four  with an interval of one month.</li>
						</ol>

						<div class="tariffItem__notion">*In case of the second failed attempt to get the Endorsement, you are entitled to a 70% refund of the amount payed. </div>

						<div class="tariffItem__notion">*Pay the entire amount and receive an extra 15% discount.</div>
					</div>


					<a href="/scoring/" class="bttn">Сhoose</a>
				</div>

				<div class="tariffItem">
					<div class="tariffItem__info">
						<div class="tariffItem__price">£4,000</div>
						<ol class="tariffItem__ol">
							<li>Paid in 2 instalments — pre-payment when signing the contract and post-payment after receiving the Endorsement.</li>
							<li>Paid in 5 five equal instalments first of which is payable when signing the contract, and the remaining four  with an interval of one month.</li>
						</ol>

						<div class="tariffItem__notion">*In case of the second failed attempt to get the Endorsement, you are entitled to a 70% refund of the amount payed. </div>

						<div class="tariffItem__notion">*Pay the entire amount and receive an extra 15% discount.</div>
					</div>
					<a href="/scoring/" class="bttn">Сhoose</a>
				</div>

			</div>

			<h2 class="title">What is <br /> URelocation Platform?</h2>
			<h2 class="title title--small">Tech-enabled decisions</h2>
			<p class="subtitle">Our platform is built on the combination of expertise and newest technologies to support and guide every step of your journey</p>

			<div class="tagList">
				<div class="tagItem">clear statuses</div>
				<div class="tagItem">timeline</div>
				<div class="tagItem">steps</div>
				<div class="tagItem">progress</div>
			</div>

			<div class="imgBlk imgBlk--full">
				<img src="{% static '/uploads/img/screenshot.png' %}" alt="Adriano K.">
			</div>

			<h2 class="title title--center">Not sure if you're eligible?</h2>
			<p class="subtitle">Calculate your chances and get detailed feedback from our team</p>
			<a href="/scoring/" class="bttn bttn--cta bttn--check bttn--middle">Take a scoring test</a>

			<h2 class="title">Testimonials</h2>

			{% include 'review_slider.html' %}

			<h2 class="title">FAQ</h2>

			{% include 'faq_list.html' %}

		</div>
	</div>

	<a href="/scoring/" class="bttn bttn--check bttn--sticky">Take a scoring test</a>

{% endblock %}
