{% load static %}
<div class="logoList">
    <div class="logoList__body">
            <div class="logoItem"><img src="{% static '/uploads/img/logo/1.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/2.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/3.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/4.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/5.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/6.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/7.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/8.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/9.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/10.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/11.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/12.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/13.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/14.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/15.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/16.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/17.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/18.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/19.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/20.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/21.png' %}" alt=""></div>
            <div class="logoItem"><img src="{% static '/uploads/img/logo/22.png' %}" alt=""></div>
    </div>
</div>