<div class="logoList">
    <div class="logoList__body">
            <div class="logoItem logoItem--text">Total freedom</div>
            <div class="logoItem logoItem--text">Work</div>
            <div class="logoItem logoItem--text">Study</div>
            <div class="logoItem logoItem--text">Freelance</div>
            <div class="logoItem logoItem--text">Bring your family</div>
            <div class="logoItem logoItem--text">Get a UK passport</div>
            <div class="logoItem logoItem--text">Total freedom</div>
            <div class="logoItem logoItem--text">Work</div>
            <div class="logoItem logoItem--text">Study</div>
            <div class="logoItem logoItem--text">Freelance</div>
            <div class="logoItem logoItem--text">Bring your family</div>
            <div class="logoItem logoItem--text">Get a UK passport</div>
    </div>
</div>