{% load static %}
<div class="reviewSlider owl-carousel">
    
    <div class="reviewItem">
        <div class="reviewItem__person">

            <div class="reviewItem__img">
                <img src="{% static '/uploads/img/man.jpg' %}" alt="Adriano K.">							
            </div>

            <div class="reviewItem__name">Adriano K.</div>

            <div class="reviewItem__tags">
                <div class="reviewItem__tag reviewItem__tag--cta">Co-Founder</div>
                <div class="reviewItem__tag">CEO</div>
                <div class="reviewItem__tag">Game developer</div>
            </div>

        </div>

        <div class="reviewItem__info">
            <div class="reviewItem__title">
            I was referred to Urelocation by my Ukrainian colleague. What has surprised me the most? I was amazed how the Urelocation Team understood the twists and turns of AI and algorithms I worked on at companies like Goldman Sachs and Nomura
            </div>
            <div class="reviewItem__text">
            I have a broad experience in academic research with more than 30 published journal papers and book chapters related to Data Science, Machine Learning, Statistical Methods, Optimization, and Finance.I was surprised that Urelocation Team were able to compile my research papers in a way that you could tell they comprehended my scientific activity and not just bibliographe it.At the end of the day, I came to Urelocation for a visa and got the visa
            </div>
        </div>
    </div>

    <div class="reviewItem">
        <div class="reviewItem__person">

            <div class="reviewItem__img">
                <img src="{% static '/uploads/img/man.jpg' %}" alt="Adriano K.">
            </div>

            <div class="reviewItem__name">Adriano K.</div>

            <div class="reviewItem__tags">
                <div class="reviewItem__tag reviewItem__tag--cta">Co-Founder</div>
                <div class="reviewItem__tag">CEO</div>
                <div class="reviewItem__tag">Game developer</div>
            </div>

        </div>

        <div class="reviewItem__info">
            <div class="reviewItem__title">
            I was referred to Urelocation by my Ukrainian colleague. What has surprised me the most? I was amazed how the Urelocation Team understood the twists and turns of AI and algorithms I worked on at companies like Goldman Sachs and Nomura
            </div>
            <div class="reviewItem__text">
            I have a broad experience in academic research with more than 30 published journal papers and book chapters related to Data Science, Machine Learning, Statistical Methods, Optimization, and Finance.I was surprised that Urelocation Team were able to compile my research papers in a way that you could tell they comprehended my scientific activity and not just bibliographe it.At the end of the day, I came to Urelocation for a visa and got the visa
            </div>
        </div>
    </div>

</div>