{% extends 'base.html' %}
{% load static %}
{% block scoring %}
	<div class="section">
		<div class="wrapper">

		<div data-tf-widget="FPNtoann" data-tf-opacity="100" data-tf-iframe-props="title=URelocation.pro" data-tf-transitive-search-params data-tf-medium="snippet" data-tf-hidden="utm_source=,utm_medium=,utm_campaign=,utm_term=,utm_content=" style="width:100%;height:500px;"></div>
		<script src="//embed.typeform.com/next/embed.js"></script>

		</div>
	</div>
{% endblock %}
