{% extends 'base.html' %}
{% load static %}
{% block testimonials %}
	<div class="section">
		<div class="wrapper">
			<h2 class="title title--center">Testimonials</h2>

			<div class="vimeoBlock">
			<iframe src="https://player.vimeo.com/video/836802111?h=cf9e7513da" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
			</div>
			<p class="subtitle subtitle--center">Review - Alex, Senior Dev, Microsoft. Global talent.</p>

			<div class="vimeoBlock">
			<iframe class="vimeoBlock" src="https://player.vimeo.com/video/836807876?h=8dafc92f9f" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
			</div>
			<p class="subtitle subtitle--center">Review - Anthony, CPO at Mood. Global talent (<a href="https://www.linkedin.com/in/volkovavv/" target="_blank">His LinkedIn</a>) </p>


			<div class="vimeoBlock">
			<iframe class="vimeoBlock" src="https://player.vimeo.com/video/836819634?h=478493007e" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
			</div>
			<p class="subtitle subtitle--center">Review - Nick, Co-founder, BK Vision. Global talent</p>
		</div>
	</div>
{% endblock %}
