{% extends 'base.html' %}
{% load static %}
{% block thanks %}
	<div class="section">
		<div class="wrapper">
			<h2 class="title title--center">
			Thank you! <br />
			Your Global Talent success rate is:<br />
			<b>70-80%</b>
			</h2>

			<p class="subtitle">
				We’ve studied your case, and there's a chance that you can be the next Global Talent! <br />			
	Contact our Global Talent Consultant via any convenient messenger to get your personal case review </p>
	<div class="tnxLinks">
				<a href="https://t.me/+447931084240" class="tnxLink tnxLink--tlg">Telegram</a>
				<a href="https://wa.me/447849838188?text=Hello%25I%2520would%2520like%2520to%2520book%2520GTV%2520Consultation" class="tnxLink tnxLink--wapp">Whatsapp</a>
				<a href="mailto:team@urelocation.uk" class="tnxLink tnxLink--mail">Email</a>
			</div>
	<p class="subtitle subtitle--center">Sign a contract and pay now to get up to 25% off the total Full-Support Service price*
				</p>
	
				<p style="text-align: center;">*Limited time offer</p>

		</div>
	</div>
{% endblock %}
