@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans'), local('Product-Sans'), url('../fonts/ProductSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}