@import "_variables.less";


.footer {
    background-color: #2A3034;
    color: #707882;
    border-radius: 20px 20px 0 0;
    padding: 25px 15px 45px 25px;  
  
    @media (min-width: 1070px) {
      padding: 45px 15px 45px 25px;
    }   
    @media (min-width: 1270px) {
      padding: 45px 54px;
    }   
  
    &__body {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      gap: 42px 22px;
    }
  
    .logo {
      margin-top: 10px;
  
      @media (min-width: 1070px) {
        margin-top: -8px;
      }  
    }
  
    &__tagline {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 1.42;
      border-left: 1px solid #BFCCDF;
      padding-left: 11px;
      letter-spacing: -0.02em;
      min-height: 71px;
      width: ~"calc(100% - 22px - 100px)"; // минус ширина лого минус промежуток между блоками
  
      @media (min-width: 470px) {
        line-height: 1.77;      
      }   
      @media (min-width: 1070px) {
        width: auto;
      }   
      @media (min-width: 1270px) {
        flex-basis: 245px;
      }   
  
      br {
        @media (max-width: 469px) {
          display: none;
        } 
      }
    }
  
    .socLinks {
      margin-top: -5px;
    }
  
    &__title {
      font-size: 18px;
      color: #FDFDFD;
      margin-bottom: 20px;
      margin-top: 4px;
    }
  
    &__block {   
      @media (min-width: 1070px) {
        flex-basis: 187px;
      }   
    }
  
    &__address {
      width: ~"calc(50% - 22px)"; // минус промежуток между блоками
  
      @media (min-width: 770px) {
        width: ~"calc(33.3% - 22px)"; // минус промежуток между блоками
      }  
      @media (min-width: 1070px) {
        width: auto;
      }  
  
      br {
        @media (max-width: 469px) {
          display: none;
        } 
      }
    }
  
    &__menu {
      width: ~"calc(50% - 22px)"; // минус промежуток между блоками
  
      @media (min-width: 770px) {
        width: ~"calc(33.3% - 22px)"; // минус промежуток между блоками
      }  
      @media (min-width: 1070px) {
        width: auto;
      }  
  
      .menu {
  
        & > li:not(:last-child) {
          margin-bottom: 27px;
        }
  
        li {
          display: table;
          position: relative;
  
          &.has-child > a {
            position: relative;
            padding-right: 18px;
  
            &::after {
              display: block;
              content: '';
              border-right: 2px solid #808182;
              border-bottom: 2px solid #808182;
              height: 4px;
              width: 4px;
              position: absolute;
              right: 0;
              top: 5px;
              transform: rotate(45deg);
            }
          }
  
          a {
            display: block;
            font-size: 16px;          
            color: #B0B0B0;          
          }
  
          &.active > a,
          &:hover > a {
            color: #5EB083;
  
            &::after {
              border-color: #5EB083;
            }
          }
  
          &:hover > .submenu {
            display: block;
          }
        }
      }
  
      .submenu {
        display: none;
        position: absolute;
        top: -20px;
        left: 100%;
        margin-left: -10px;
        padding: 20px 25px;
        background-color: #272A2D;
        border-radius: 10px;
    
        li {
          margin-bottom: 16px;
    
          &:last-child {
            margin-bottom: 0;
          }
    
          a {
            white-space: nowrap;
          }
        }
      }
    }
  }
  
  .upButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;  
    right: 0;
    left: auto;  
    z-index: 15;
    opacity: 0;
    visibility: hidden;  
    background-color: #272A2D;
    box-shadow: 0px 15px 15px rgba(106, 122, 129, 0.09);
    border-radius: 30px;
    transition: all 300ms;
  
    @media (min-width: 1270px) {
      width: 55px;
      height: 55px;
      transform: translate(593px, 0);
      left: 50%;
      bottom: 116px;
    }  
  
    &::before {
      display: block;
      content: '';
      border-right: 2px solid #5EB083;
      border-bottom: 2px solid #5EB083;
      height: 9px;
      width: 9px;
      margin-top: 4px;
      transform: rotate(-135deg);
    }
  
    &:hover {
      background-color: #5EB083;
  
      &::before {
        border-color: #ffffff;
      }
    }
  
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .alert {
    padding: 1.0em;
    margin-bottom: 0.95em;
    border-radius: 7px;
  
    &-success {
      color: #25BA00;
      background-color: #dff0d8;
      box-shadow: inset 0 0 0 1px #25BA00;
    }
    &-danger {
      color: #a94442;
      background-color: #f2dede;
      box-shadow: inset 0 0 0 1px #ebccd1;
    }
  }

  
.scrolled, .tbl {
  scrollbar-color: #126FB7 #EFEFF3;
  scrollbar-width: thin;
  
  &::-webkit-scrollbar{
    width: 4px;
    background-color: #EFEFF3;
    border-radius:0;
  }
  &::-webkit-scrollbar:horizontal{
    height:6px;
    border-radius:0;
  }
  &::-webkit-scrollbar-track{
    background-color: #EFEFF3;
    border-radius:0;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #126FB7;
    border:1px solid #126FB7;
    border-radius:0;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color: #126FB7;
    border:1px solid #126FB7;
  }
  &::-webkit-scrollbar-thumb:active{
    background-color: #126FB7;
    border:1px solid  #126FB7;
  }
}
