.footer {
  background-color: #2A3034;
  color: #707882;
  border-radius: 20px 20px 0 0;
  padding: 25px 15px 45px 25px;
}
@media (min-width: 1070px) {
  .footer {
    padding: 45px 15px 45px 25px;
  }
}
@media (min-width: 1270px) {
  .footer {
    padding: 45px 54px;
  }
}
.footer__body {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 42px 22px;
}
.footer .logo {
  margin-top: 10px;
}
@media (min-width: 1070px) {
  .footer .logo {
    margin-top: -8px;
  }
}
.footer__tagline {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1.42;
  border-left: 1px solid #BFCCDF;
  padding-left: 11px;
  letter-spacing: -0.02em;
  min-height: 71px;
  width: calc(100% - 22px - 100px);
}
@media (min-width: 470px) {
  .footer__tagline {
    line-height: 1.77;
  }
}
@media (min-width: 1070px) {
  .footer__tagline {
    width: auto;
  }
}
@media (min-width: 1270px) {
  .footer__tagline {
    flex-basis: 245px;
  }
}
@media (max-width: 469px) {
  .footer__tagline br {
    display: none;
  }
}
.footer .socLinks {
  margin-top: -5px;
}
.footer__title {
  font-size: 18px;
  color: #FDFDFD;
  margin-bottom: 20px;
  margin-top: 4px;
}
@media (min-width: 1070px) {
  .footer__block {
    flex-basis: 187px;
  }
}
.footer__address {
  width: calc(50% - 22px);
}
@media (min-width: 770px) {
  .footer__address {
    width: calc(33.3% - 22px);
  }
}
@media (min-width: 1070px) {
  .footer__address {
    width: auto;
  }
}
@media (max-width: 469px) {
  .footer__address br {
    display: none;
  }
}
.footer__menu {
  width: calc(50% - 22px);
}
@media (min-width: 770px) {
  .footer__menu {
    width: calc(33.3% - 22px);
  }
}
@media (min-width: 1070px) {
  .footer__menu {
    width: auto;
  }
}
.footer__menu .menu > li:not(:last-child) {
  margin-bottom: 27px;
}
.footer__menu .menu li {
  display: table;
  position: relative;
}
.footer__menu .menu li.has-child > a {
  position: relative;
  padding-right: 18px;
}
.footer__menu .menu li.has-child > a::after {
  display: block;
  content: '';
  border-right: 2px solid #808182;
  border-bottom: 2px solid #808182;
  height: 4px;
  width: 4px;
  position: absolute;
  right: 0;
  top: 5px;
  transform: rotate(45deg);
}
.footer__menu .menu li a {
  display: block;
  font-size: 16px;
  color: #B0B0B0;
}
.footer__menu .menu li.active > a,
.footer__menu .menu li:hover > a {
  color: #5EB083;
}
.footer__menu .menu li.active > a::after,
.footer__menu .menu li:hover > a::after {
  border-color: #5EB083;
}
.footer__menu .menu li:hover > .submenu {
  display: block;
}
.footer__menu .submenu {
  display: none;
  position: absolute;
  top: -20px;
  left: 100%;
  margin-left: -10px;
  padding: 20px 25px;
  background-color: #272A2D;
  border-radius: 10px;
}
.footer__menu .submenu li {
  margin-bottom: 16px;
}
.footer__menu .submenu li:last-child {
  margin-bottom: 0;
}
.footer__menu .submenu li a {
  white-space: nowrap;
}
.upButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 0;
  left: auto;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  background-color: #272A2D;
  box-shadow: 0px 15px 15px rgba(106, 122, 129, 0.09);
  border-radius: 30px;
  transition: all 300ms;
}
@media (min-width: 1270px) {
  .upButton {
    width: 55px;
    height: 55px;
    transform: translate(593px, 0);
    left: 50%;
    bottom: 116px;
  }
}
.upButton::before {
  display: block;
  content: '';
  border-right: 2px solid #5EB083;
  border-bottom: 2px solid #5EB083;
  height: 9px;
  width: 9px;
  margin-top: 4px;
  transform: rotate(-135deg);
}
.upButton:hover {
  background-color: #5EB083;
}
.upButton:hover::before {
  border-color: #ffffff;
}
.upButton.active {
  opacity: 1;
  visibility: visible;
}
.alert {
  padding: 1em;
  margin-bottom: 0.95em;
  border-radius: 7px;
}
.alert-success {
  color: #25BA00;
  background-color: #dff0d8;
  box-shadow: inset 0 0 0 1px #25BA00;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  box-shadow: inset 0 0 0 1px #ebccd1;
}
.scrolled,
.tbl {
  scrollbar-color: #126FB7 #EFEFF3;
  scrollbar-width: thin;
}
.scrolled::-webkit-scrollbar,
.tbl::-webkit-scrollbar {
  width: 4px;
  background-color: #EFEFF3;
  border-radius: 0;
}
.scrolled::-webkit-scrollbar:horizontal,
.tbl::-webkit-scrollbar:horizontal {
  height: 6px;
  border-radius: 0;
}
.scrolled::-webkit-scrollbar-track,
.tbl::-webkit-scrollbar-track {
  background-color: #EFEFF3;
  border-radius: 0;
}
.scrolled::-webkit-scrollbar-thumb,
.tbl::-webkit-scrollbar-thumb {
  background-color: #126FB7;
  border: 1px solid #126FB7;
  border-radius: 0;
}
.scrolled::-webkit-scrollbar-thumb:hover,
.tbl::-webkit-scrollbar-thumb:hover {
  background-color: #126FB7;
  border: 1px solid #126FB7;
}
.scrolled::-webkit-scrollbar-thumb:active,
.tbl::-webkit-scrollbar-thumb:active {
  background-color: #126FB7;
  border: 1px solid #126FB7;
}
