@import "_variables.less";

.hidden {
    display: none !important;
  }
  
  .hidden-xs {
    @media (max-width: 769px) {
      display: none !important;
    }
  }
  .visible-xs {
    @media (min-width: 770px) {
      display: none !important;
    }
  }
  
  .hidden-sm {
    @media (max-width: 1069px) {
      display: none !important;
    }
  }
  
  .visible-sm {
    @media (min-width: 1070px) {
      display: none !important;
    }
  }
  
  :root {
    font-size: 16px;
    box-sizing: border-box;
  
    * {
      box-sizing: inherit;
      outline: none;
    }
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #FBFBFB;
    color: @first-color;
    line-height: 1.2;
    overflow-x: hidden;
    font-weight: 400;
    min-height: 100vh;
    font-family: 'Product Sans';
  
    &:not(.home) {
      padding-top: 90px;
  
      @media (min-width: 1070px) {
        padding-top: 180px;
      }
    }
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
  
  h1 {
    margin-top: 0;
    font-weight: 900;
    font-size: 1.625rem;
    margin-bottom: 0.7em;
  
    @media (min-width: 470px) {
      font-size: 1.75rem;
    }
    @media (min-width: 640px) {
      font-size: 2.0rem;
    }
    @media (min-width: 770px) {
      font-size: 2.25rem;
    }
    @media (min-width: 1070px) {
      font-size: 2.625rem;
      margin-bottom: 1.0em;
    }
  }
  
  p {
    margin: 0 0 1.5em;
    line-height: 1.5;
    font-size: 0.875rem;
  
    @media (min-width: 470px) {
      font-size: 1.0rem;
    }
  
    a {
      .link()
    }
  }
  
  strong, b {  
    font-weight: 700; 
  }
  
  button {  
    -webkit-appearance: none;
    appearance: none;
   }
  
  .link {
    .link()
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: color 300ms;
  
    &:hover {
      text-decoration: none;
      // color: #06533E;
    }
  }

  .imgBlk {
    max-width: 100%;
    margin: 0 auto 30px;
  
    img {
      border-radius: 8px;
      width: 100%;
      height: auto;
    }
  
    @media (min-width: 770px) {
      &--left {
        float: left;
        max-width: 50%;
        margin: 0 20px 20px 0;
      }
    
      &--right {
        float: right;
        max-width: 50%;
        margin: 0 0 20px 20px;
      }
    
      &--center {
        max-width: 50%;    
      }
    }
  
    &--full {
      width: 100%;
      margin-bottom: 60px;
    }
  }

.box {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 30px 38px;
  margin-bottom: 80px;

  & + & {
    margin-top: -55px;
  }

  &--tall {
    padding: 24px 20px 24px;
    
    @media (min-width: 470px) {
      padding: 40px 38px 55px;
    }
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }
}
  
.formBlock {  
    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    &__title {
      font-weight: bold;
      color: @title-color;
      margin-bottom: 0.95em;
      font-size: 18px;
  
      @media (min-width: 470px) {
        font-size: 20px;
      }
      @media (min-width: 640px) {
        font-size: 22px;
      }
      @media (min-width: 770px) {
        font-size: 24px;
      }
    }
  
    &__item {
      margin-bottom: 18px;
      width: 100%;
  
      &.error {
        position: relative;
      }
  
      input:not([type="checkbox"]):not([type="radio"]):not([type=submit]):not([type=range]), textarea, select {
        border: 0;
        font-family: inherit;
        box-shadow: inset 0 0 0 1px #E0E3F1;
        background-color: #FFFFFF;
        border-radius: 30px;
        color: @first-color;
        padding: 1.25em 2.3em;
        line-height: 1.2;
        width: 100%;      
        min-height: 60px;
        resize: vertical;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        font-size: 16px;
        font-weight: 400;
        transition: box-shadow 300ms, color 300ms;
  
        &::-webkit-input-placeholder       {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
        &::-moz-placeholder                {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
        &:-moz-placeholder                 {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
        &:-ms-input-placeholder            {color: #B0B0B0; opacity: 0.99; font-weight: 400; transition: opacity 0.3s ease;}
  
        &:focus::-webkit-input-placeholder {opacity: 0;}
        &:focus::-moz-placeholder          {opacity: 0;}
        &:focus:-moz-placeholder           {opacity: 0;}
        &:focus:-ms-input-placeholder      {opacity: 0;}
  
        .error& {
          box-shadow: inset 0 0 0 1px #EF5436;
        }
        .success& {
          box-shadow: inset 0 0 0 1px #25BA00;
        }
      }
  
      [type=submit], .bttn {
        font-family: inherit;
        outline: 0;
        height: auto;
        border: none;
        font-weight: 400;
        width: 100%;
      }
  
      &--rating {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        min-height: 22px;
  
        input[type=radio] {
          display: none;
  
          &:checked {
            & + label,
            & + label + input + label,
            & + label + input + label + input + label,
            & + label + input + label + input + label + input + label,
            & + label + input + label + input + label + input + label + input + label {
              &::before {
                opacity: 1;
              }   
            }
          }
        }
  
        label {
          background-image: url('../img/star-inactive-big.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin-top: 2px;
          cursor: pointer;
  
          @media (min-width: 1070px) {
            background-image: url('../img/star-inactive.png');
          }
  
          &::before {
            display: block;
            content: '';
            opacity: 0;
            height: 20px;
            width: 28px;
            background-image: url('../img/star-active-big.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: opacity 300ms;
  
            @media (min-width: 1070px) {
              height: 10px;
              width: 12px;
              background-image: url('../img/star-active.png');
            }
          }
  
          &:hover {
            &::before {
              opacity: 1;
            }
  
            & + input + label,
            & + input + label + input + label,
            & + input + label + input + label + input + label,
            & + input + label + input + label + input + label + input + label {
              &::before {
                opacity: 1;
              }
            }
          }
        }
  
        i {
          font-style: normal;
          margin-right: 8px;
        }
      }
  
      &--notion {    
        font-size: 13px;
        line-height: 1.7;      
        color: #787878;
    
        br {
          @media (max-width: 769px) {
            display: none;
          }
        }
    
        a {
          .link()
        }
      }
    }
  
    &__label {
      margin-bottom: 11px;
      display: block;
      font-size: 16px;
  
      i {
        font-style: normal;
        color: #A03939;
      }
    }
  
  }
  
  .wrapper {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .section {
    overflow-x: hidden;
    width: 100%;
  
    @media (min-width: 1070px) {
      overflow-x: visible;
    }
  
    & > .wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
  
      & > *:last-child {
        margin-bottom: 0 !important;
      }
    }
  
    &--middle {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  
    &--white {
      background-color: #FFFFFF;
    }
  }
  
  .bttn {
    display: table;
    clear: both;
    position: relative;
    cursor: pointer;
    border: 0;
    user-select: none;
    color: #FFFFFF;
    white-space: nowrap;
    text-align: center;
    padding: 1.25em 2.4em;
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    transition: all 300ms;  
    background-color: #5EB083;
    border-radius: 60px;
  
    @media (min-width: 1070px) {    
      
    }
  
    &:hover, &:active {
      color: #FFFFFF;
      background-color: #236B44;
    }
  
    svg {
      path {
        fill: #FFFFFF;
      }
    }

    &--tall {
      padding-top: 1.7em;
      padding-bottom: 1.7em;
    }
  
    &--cta {
      background-color: #FFBB8A;
  
      &:hover, &:active {
        background-color: #fab185; 
      }
    }
  
    &--invert {
      color: @cta-color;
      background-color: transparent;
      box-shadow: inset 0 0 0 1px @cta-color;
  
      &:hover, &:active {
        background-color: @cta-color; 
        box-shadow: inset 0 0 0 1px @cta-color;
      }
    }
  
    &--middle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px;
      width: 100%;
  
      @media (min-width: 470px) {
        width: auto;
      }
      @media (min-width: 640px) {
        min-width: 250px;
        margin-bottom: 3.4em;
      }
    }
  
    &--full {
      width: 100%;
    }
  
    &--right {
      margin-left: auto;
    }
  
    &--iconed {
      display: inline-flex;
      align-items: center;
    }
  
    &--check {
      &::before {
        display: inline-block;
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.26057 0.511269C7.33076 0.61849 6.58422 0.782826 5.91896 1.02671C3.10262 2.05916 0.977109 4.4157 0.257126 7.30398C0.0500084 8.13481 0.00476074 8.52936 0.00476074 9.50474C0.00476074 10.4801 0.0500084 10.8747 0.257126 11.7055C1.05746 14.9161 3.58865 17.4473 6.79926 18.2476C7.63009 18.4548 8.02465 18.5 9.00002 18.5C9.9754 18.5 10.37 18.4548 11.2008 18.2476C14.4114 17.4473 16.9426 14.9161 17.7429 11.7055C17.95 10.8747 17.9953 10.4801 17.9953 9.50474C17.9953 8.52936 17.95 8.13481 17.7429 7.30398C17.0228 4.41492 14.9013 2.06286 12.0811 1.02681C11.6243 0.85899 10.8221 0.655991 10.3029 0.576834C9.95174 0.523277 8.54723 0.478205 8.26057 0.511269ZM9.65145 1.93493C10.4764 2.01504 11.1914 2.19149 11.9353 2.49847C13.723 3.23616 15.2686 4.7818 16.0063 6.56942C16.7944 8.47932 16.7944 10.5302 16.0063 12.4401C15.2686 14.2277 13.723 15.7733 11.9353 16.511C10.0254 17.2992 7.97461 17.2992 6.0647 16.511C4.27709 15.7733 2.73145 14.2277 1.99375 12.4401C1.2056 10.5302 1.2056 8.47932 1.99375 6.56942C2.73145 4.7818 4.27709 3.23616 6.0647 2.49847C7.22431 2.01993 8.48589 1.82173 9.65145 1.93493ZM12.2043 6.49677C12.1255 6.53051 11.3041 7.32602 9.92473 8.70447L7.76841 10.8594L6.86127 9.95517C5.91868 9.01553 5.781 8.90856 5.51212 8.9069C5.32549 8.90574 5.03267 9.0661 4.92541 9.22822C4.8171 9.39188 4.78333 9.65037 4.84495 9.84394C4.87904 9.95109 5.14806 10.2416 6.10787 11.2075C6.91318 12.018 7.3753 12.4573 7.46829 12.5008C7.65161 12.5865 7.88552 12.5857 8.06458 12.4986C8.26835 12.3995 13.0617 7.59898 13.136 7.41954C13.2435 7.16017 13.1719 6.80939 12.9744 6.62783C12.7795 6.44871 12.4484 6.39233 12.2043 6.49677Z' fill='%23FFF' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
        height: 18px;
        width: 18px;
        margin-right: 6px;
        margin-top: -4px;
        vertical-align: middle;
      }
    }
  
    &--sticky {
      display: none;
      width: 280px;
      margin: 0 auto 30px;
      position: sticky;
      bottom: 30px;
      z-index: 5;
      padding-top: 1.1em;
      padding-bottom: 1.1em;
  
      &.active {
        display: block;
      }
  
      @media (min-width: 640px) {
        display: none !important;
      }
    }
  
    svg {
      display: inline;
      vertical-align: middle;
      margin-right: 7px;
      flex-shrink: 0;
      max-height: 22px;
      max-width: 22px;
      margin-top: -5px;
      margin-bottom: -3px;
  
      path {
        transition: stroke 300ms, fill 300ms;
      }
    }
  }
  
  .logo {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    text-decoration: none;
    color: inherit;
  
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  
    img {
      display: inline-block;
      vertical-align: middle; 
    }
  
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.35;    
      color: #ECF6F2;    
  
      img + & {
        margin-left: 24px;
      }
    }
  }
  
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
  
    li {
      display: block;
      list-style: none;
  
      a {
        display: block;
        color: inherit;
        font-weight: 400;
        transition: color 300ms;
      }
    }
  }
  
.title {
    padding: 0;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.2;
    color: @title-color;
    font-size: 34px;
    margin-bottom: 0.9em;  
  
    @media (min-width: 470px) {
      font-size: 36px;
    }
    @media (min-width: 640px) {
      font-size: 40px;
    }
    @media (min-width: 770px) {
      font-size: 48px;
    }
    @media (min-width: 1070px) {
      font-size: 60px;
      margin-bottom: 0.55em;
    }
  
    & + & {
      margin-top: -0.8em;
      
      @media (min-width: 1070px) {
        margin-top: -0.15em;
      }
    }
  
    br {
      @media (max-width: 769px) {
        display: none;
      }
    }
  
    span {
      color: #5EB083;

      &.cta {
        color: #FFBB8A;
      }
    }
  
    &--center {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    &--small {
      font-size: 24px;
  
      @media (min-width: 640px) {
        font-size: 28px;
      }
      @media (min-width: 770px) {
        font-size: 32px;
      }
      @media (min-width: 1070px) {
        font-size: 36px;
      }
    }
  
    &--extrasmall {
        font-size: 24px;
        margin-bottom: 0.7em;      
    }
  
    @media (max-width: 1070px) {
      br {
        display: none;
      }
    }
  
    a {
      .link();
    }
  }
  
  .subtitle {
    line-height: 1.58;
    font-size: 20px;  
    margin-bottom: 1.5em;  
    
    @media (min-width: 1070px) {
      font-size: 24px;  
    }  
  
    .title + & {
      margin-top: -0.6em;  
    }

    .title--extrasmall + & {
      font-size: 18px;
      margin-top: -0.3em;
      margin-bottom: 1.1em;
    }
  
    &--center,
    .title--center + & {
      text-align: center;
    }
  
    br {
      @media (max-width: 769px) {
        display: none;
      }
    }
}
  

.header {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  
    &.opened {
      @media (max-width: 1069px) {
        position: fixed;
      }
    }
    
    & > .wrapper {
      display: flex;
      align-items: center; 
      padding-top: 24px;
      padding-bottom: 24px;
  
      @media (min-width: 640px) {
        gap: 17px 22px;
      }
  
      @media (min-width: 1070px) {
        padding-top: 57px;
        padding-bottom: 57px;
        gap: 15px;
      }
    }
  
    .logo {
      @media (max-width: 639px) {
        margin-right: auto;
      }
    }
   
    &__separator {
      height: 47px;
      width: 1px;
      background-color: #BFCCDF;   
  
      @media (max-width: 639px) {
        display: none;
      }
      @media (min-width: 1070px) {
        height: 71px;
      }
    }
  
    &__tagline {
      font-size: 13px;
      line-height: 1.77;
  
      @media (max-width: 639px) {
        display: none;
      }
      @media (max-width: 1069px) {
        margin-right: auto;
      }
    }
  
    &__menu {    
      transition: opacity 300ms, visibility 300ms;
  
      @media (max-width: 1069px) {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #FFF;
        padding: 110px 20px 20px 99px;
        overflow: auto;
        z-index: 11;
  
        .opened & {
          display: block;
        }
      }
      @media (max-width: 769px) {
        margin-right: auto;
      }
      @media (min-width: 1070px) {
        margin: 0 auto;
      }
    }
  
    .menu {
      @media (min-width: 1070px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;      
        gap: 40px;
        justify-content: space-between;
      }   
      @media (min-width: 1270px) {
        gap: 60px;
      }   
  
      li {          
        a {   
          color: #32333D;
        }
  
        &.has-child > a {
          display: table;
          position: relative;
          padding-right: 18px;
  
          &::after {
            display: block;
            content: '';
            border-right: 1px solid #32333D;
            border-bottom: 1px solid #32333D;
            height: 4px;
            width: 4px;
            position: absolute;
            right: 1px;
            top: 6px;      
            transform: rotate(45deg);
            transition: border-color 300ms;
          }
        }
      }
  
      & > li {   
        margin-bottom: 30px; 
  
        @media (min-width: 1070px) {
          display: flex;
          align-items: center;
          position: relative;  
          min-height: 60px;
          margin-bottom: 0;
        }
  
        &:hover > .submenu {
          @media (min-width: 1070px) {
            display: block;
          }  
        }
  
        &.menu-item-active > .submenu {
          @media (max-width: 1069px) {
            display: block;
          }  
        }
  
        &.menu-item-active > a,
        &.active > a,
        & > a:hover {
            color: #5EB083;
  
            &::after {
              border-color: #5EB083;
            }
        }
      }
    }
  
    .submenu {
      display: none;
      padding: 30px 0 20px 10px;
  
      @media (min-width: 1070px) {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 25px 23px;
        background-color: #FFFFFF;
        box-shadow: 0px 15px 20px rgba(106, 122, 129, 0.09);
        border-radius: 10px;
      }
  
      li {
        margin-bottom: 21px;
  
        &:last-child {
          margin-bottom: 0;
        }
  
        a {
          white-space: nowrap;
          color: #94A1B5;         
  
          &:hover {
            color: #5EB083;
          }
        }
      }
    }
  
    .bttn { 
      @media (max-width: 1069px) {
        font-size: 13px;
        padding-top: 1.1em;
        padding-bottom: 1.1em;
        padding-right: 1.2em;
        padding-left: 1.2em;
        margin-left: 15px;
      }
    }
}
  
  
.menu-selector {
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 12;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-left: 15px;

    @media (min-width: 1070px) {
        display: none;
    }

    &:before, &:after {
        position: absolute;
        height: 2px;
        right: 10px;
        left: 10px;
        bottom: 50%;
        margin-bottom: -1px;
        background-color: #32333D;
        transition: background-color 300ms;
    }

    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }

    .opened & {
        svg {
        display: none;
        }

        &:before, &:after {
        content: '';
        display: block;
        }
        
    }
}
