//out: _style.css, sourcemap: false, compress: true

@import "_variables.less";

body {
  .owl-carousel {

    .owl-nav {
      button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 44px;
        transition: opacity 300ms, visibility 300ms;

        &.disabled:not(.owl-next) {
          opacity: 0;
          visibility: hidden;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #FFF;
          box-shadow: 0px 15px 15px rgba(106, 122, 129, 0.09);          
          border-radius: 28px;
          position: absolute;
          left: 50%;
          top: 42%;
          width: 43px;
          height: 43px;
          margin-left: -21px;
          margin-top: -21px;
          color: transparent;
          font-size: 0;

          @media (min-width: 1470px) {
            width: 55px;
            height: 55px;
            margin-left: -27px;
            margin-top: -27px;
          } 

          &:hover {
            background-color: #5EB083;

            &::before {
              border-color: #FFF;
            }
          }

          &::before {
            display: block;
            content: '';
            border-right: 2px solid #4B587C;
            border-bottom: 2px solid #4B587C;
            height: 8px;
            width: 8px;
            margin-right: 2px;
            transform: rotate(-45deg);
          }
        }

        &.owl-prev {
          left: -15px;
          transform: scale(-1,1);

          @media (min-width: 1470px) {
            left: -90px;
          }
        }
        &.owl-next {
          right: -15px;

          @media (min-width: 1470px) {
            right: -90px;
          }
        }
      }
    }
  }
}

.vimeoBlock {
  width: 640px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  iframe {
    display: block;
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.hero {
  display: flex;
  flex-direction: column;  
  position: relative;

  &--home {
    justify-content: flex-end;  

    @media (min-width: 470px) {
      padding-top: 120px;  
    }
    @media (min-width: 1070px) {
      min-height: 795px;
      padding-top: 200px;
      padding-bottom: 48px;
    }

    &::before {
      display: block;
      content: '';
      background-image: url('../img/hero.png');
      background-position: 0 100%;    
      background-size: cover;    
      background-repeat: no-repeat;    
      width: 100%;
      margin-left: 44px;
      padding-bottom: 96%;
      margin-bottom: 22px;
  
      @media (min-width: 470px) {
        position: absolute;
        right: -200px;
        top: 0;
        bottom: 0;
        left: 0;    
        width: auto;
        padding-bottom: 0;
        z-index: -1;
        background-position: 100% 100%;
        background-size: contain;
      }
      @media (min-width: 640px) {
        right: -150px;
      }
      @media (min-width: 770px) {
        right: 0;
      }
      @media (min-width: 1070px) {
        left: 50%;
        background-position: 0 100%;
        background-size: auto;
        margin-left: 52px;
      }
      @media (min-width: 1920px) {
        background-position: 100% 100%;
      }
    }
    
    .bttn {
      min-width: 245px; 

      @media (max-width: 469px) {
        width: 100%;
      }  
    }
  }

  &--visa {
    justify-content: center;

    @media (min-width: 470px) {
      padding-top: 50px;  
    }
    @media (min-width: 1070px) {
      min-height: 635px;
      padding-top: 0;
    }

    &::before {
      display: block;
      content: '';
      background-image: url('../img/hero-gtv.png');
      background-position: 0 100%;    
      background-size: cover;    
      background-repeat: no-repeat;    
      width: 100%;      
      padding-bottom: 83%;
      margin-bottom: 22px;
  
      @media (min-width: 770px) {
        position: absolute;
        right: -200px;
        top: 0;
        bottom: 0;
        left: 0;    
        width: auto;
        z-index: -1;
        padding-bottom: 0;
        background-position: 100% 100%;
        background-size: contain;
        right: 0;
        margin-left: 44px;
      }
      @media (min-width: 1070px) {
        left: 50%;
        background-position: 0 100%;
        background-size: auto;
        margin-left: 25px;
      }
    }
  }


  h1.title {
    position: relative;

    @media (max-width: 639px) {
      font-size: 40px;
      margin-bottom: 1.05em;

      & + .subtitle {
        line-height: 1.9;
      }
    }

    @media (min-width: 1070px) {
      font-size: 70px;
      margin-bottom: 0.65em;

      &::before {
        display: block;
        content: '';
        width: 265px;
        height: 265px;
        background-color: #F5F5F5;
        position: absolute;
        left: -110px;
        top: -85px;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  &--home &__text {
    max-width: 400px;

    @media (min-width: 770px) {
      max-width: 600px;
    }
  }

  &__text {
    @media (min-width: 770px) {
      max-width: 600px;
    }
  }

  &__actions {
    @media (min-width: 1070px) {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }

  &__notion {
    color: #CAD3E0;
    line-height: 1.6;
    margin-top: 24px;

    @media (min-width: 1070px) {
      margin-top: 0;
    }
  }

  &--visa &__notion {
    @media (max-width: 769px) {
      margin-top: 0;
    }    
  }

  &--visa &__actions {
    @media (max-width: 769px) {
      display: flex;
      align-items: center;
      gap: 20px;
    }    
  }
}

.logoList {
  overflow: hidden;
  width: 100%;

  .hero + & {
    margin-top: 30px;  
  }
  
  .hero--visa + & {
    @media (min-width: 1070px) {
      margin-top: 13px;  
    }
  }

  &__body {
    display: flex;
    gap: 20px;
    left: 50%;  
    position: relative;
  }
}

.logoItem {
  flex-shrink: 0;
  
  @media (max-width: 1069px) {
    width: 90px;
  }

  &--text {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 8px;
    min-width: 157px;
    height: 67px;
    padding: 10px 10px;
    color: @title-color;
    text-align: center;

    @media (max-width: 1069px) {
      font-size: 11px;
      height: 39px;
      min-width: 90px;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.advantageList {  
  margin-bottom: 100px;

  @media (min-width: 1070px) {
    padding-top: 20px;
  }
}

.advantageItem {    
  margin-bottom: 30px;    
  position: relative;  

  @media (min-width: 640px) {   
    display: flex; 
    flex-direction: row-reverse;
    gap: 20px;
    margin-bottom: 35px;
  }
  @media (min-width: 770px) {
    gap: 55px;
  }
  @media (min-width: 1070px) {
    gap: 125px;
  }

  .advantageList--gap & { 
    display: flex;
    margin-bottom: 50px;
    gap: 40px;
    flex-direction: column-reverse;

    @media (min-width: 640px) {   
      flex-direction: row-reverse;
      gap: 20px;
    }
    @media (min-width: 1070px) {
      margin-bottom: 90px;
    }
  }

  @media (min-width: 1070px) {
    &::before {
      display: block;
      content: '';
      width: 265px;
      height: 265px;
      position: absolute;
      border-radius: 50%;
      z-index: -1;
    }
  
    &:nth-child(even) {
      flex-direction: row;
  
      &::before {
        box-shadow: inset 0 0 0 28px #F5F5F5;      
        left: -85px;
        bottom: -89px;
      }
    }
  
    &:nth-child(odd) {
      &::before {
        background-color: #F5F5F5;
        right: -85px;
        bottom: -89px;
      }
    }
  
    &:nth-child(1) {
      &::before {
        right: -95px;
        top: -119px;
      }
    }
  }

  &__info {
    flex-grow: 1;
    align-self: center;
    margin-top: 20px;

    @media (min-width: 640px) {
      margin-top: 0;
      margin-bottom: 40px;
    }

    & > * + * {
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 1.22;
    color: @title-color;

    @media (min-width: 770px) {
      font-size: 32px;
    }
    @media (min-width: 1070px) {
      font-size: 36px;
    }

    .advantageList--gap & {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.67;

    @media (min-width: 770px) {
      font-size: 16px;
    }
    @media (min-width: 1070px) {
      font-size: 18px;
      line-height: 1.83;
    }
  }

  &__img {
    display: block;
    position: relative;
    padding-bottom: 66.5%;    
    overflow: hidden;
    border-radius: 20px;

    @media (min-width: 640px) {
      align-self: start;
      width: 41%;
      flex-shrink: 0;
      padding-bottom: 26.4%;
    }
    @media (min-width: 1070px) {
      width: 505px;
    }

    img {
      display: block;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }

  .bttn {
    @media (max-width: 469px) {
      width: 100%;
    }
  }
}

.profList {
  margin-bottom: 100px;
}

.profItem {  
  margin-bottom: 30px;    
  position: relative;  

  @media (min-width: 770px) {    
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  @media (min-width: 1070px) {
    gap: 55px;

    &::before {
      display: block;
      content: '';
      width: 265px;
      height: 265px;
      box-shadow: inset 0 0 0 28px #F5F5F5; 
      position: absolute;
      border-radius: 50%;
      z-index: -1;
    }
  
    &:nth-child(even) {
      flex-direction: row-reverse;
  
      &::before {             
        right: -120px;
        top: -105px;
      }
    }
  
    &:nth-child(odd) {
      &::before {
        left: -120px;
        top: -105px;
      }
    }
  }

  &__title {
    font-size: 24px;
    color: @title-color;
  }

  &__text {
    font-size: 17px;
    line-height: 165%;
  }

  &__info {
    padding-top: 14px;
    padding-bottom: 14px;

    & > * + * {
      margin-top: 13px;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &__img {
    display: block;
    position: relative;  
    overflow: hidden;
    align-self: start;
    border-radius: 20px;    
    padding-bottom: 66.5%;   
    margin-bottom: 23px; 

    @media (min-width: 770px) {
      width: 41%;
      flex-shrink: 0;
      padding-bottom: 26.5%;   
      margin-bottom: 0;
      min-height: 330px;
    }
    @media (min-width: 1270px) {
      width: 610px;
      padding-bottom: 0;
      align-self: stretch
    }

    img {
      display: block;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }
}


.vacancySlider {
  margin-bottom: 90px;

  &.owl-carousel {

    .owl-stage-outer {
      overflow: visible;
    }
  }
}

.vacancyItem {
  transition: opacity 300ms;

  .owl-item:not(.active) & {
    opacity: 0.45;    
  }
  
  & > * + * {
    margin-top: 20px;
  }

  &__img {
    display: block;
    position: relative;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 20px;

    img {
      display: block;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 1.83;
    transition: color 300ms;

    :hover > & {
      color: #5EB083;
    }
  }
}

.tariffList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;    
  margin-bottom: 80px;

  @media (min-width: 1070px) {
    grid-template-columns: repeat(2, 1fr);
  }    
}

.tariffItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px 28px;  

  @media (min-width: 770px) {
    padding: 42px 46px;
  }   

  @media (min-width: 1070px) {
    &:first-child {
      position: relative;
  
      &::before {
        display: block;
        content: '';
        width: 209px;
        height: 209px;
        border: 28px solid #F5F5F5;
        position: absolute;
        left: -87px;
        bottom: -92px;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }   

  & > * + * {
    margin-top: 25px;
  }

  &__info {
    flex-grow: 1;

    & > * + * {
      margin-top: 20px;
    }
  }

  &__price {
    font-size: 40px;    
    color: @title-color;
  }

  ol&__ol {
    padding: 0;
    margin: 8px 0 26px;
    counter-reset: olNum;
    list-style: none;
    padding-top: 10px;
  
    li {
      display: block;
      margin-bottom: 24px;      
      font-size: 15px;
      line-height: 1.6;
      min-height: 30px;
      padding-left: 47px;
      position: relative;

      @media (min-width: 640px) {
        margin-bottom: 15px;
      }  
  
      &::before {
        display: inline-block;
        counter-increment: olNum;
        content: counter(olNum);
        line-height: 30px;
        text-align: center;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0;
        top: -3px;
        border-radius: 19px;
        background-color: #FFBB8A;
        flex-shrink: 0;
        margin-right: 10px;
        color: #FFFFFF;
      }
  
      a {
        .link();
      }
    }
  }

  &__notion {
    font-size: 13px;
    line-height: 1.56;
  }

  .bttn {
    width: 100%;
    min-width: 180px;

    @media (min-width: 470px) {
      width: auto;
    }   
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;  
  margin-bottom: 20px;

  @media (min-width: 1070px) {
    gap: 17px;
    margin-bottom: 33px;
  }   

  &--check {
    gap: 20px;

    @media (min-width: 1070px) {
      justify-content: center;
      margin-right: auto;
      margin-left: auto;  

      .title + & {
        margin-top: 42px;
      }
    }
  }

  &--colored {
    gap: 10px; 
  }

  .subtitle + & {
    margin-top: -14px;
  }
}

.tagItem {
  padding: 10px 13px;  
  color: #5B6574;
  background: #E7EEFA;
  border-radius: 30px;

  @media (min-width: 1070px) {
    padding: 14px 22px;
  }   

  .tagList--check & {
    display: flex;
    align-items: center;
    background: #F8FBFF;
    border-radius: 7px;
    font-size: 15px;
    padding: 18px 21px;
    color: #5E6877;

    &::before {
      display: inline-block;
      content: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.26057 0.511269C7.33076 0.61849 6.58422 0.782826 5.91896 1.02671C3.10262 2.05916 0.977109 4.4157 0.257126 7.30398C0.0500084 8.13481 0.00476074 8.52936 0.00476074 9.50474C0.00476074 10.4801 0.0500084 10.8747 0.257126 11.7055C1.05746 14.9161 3.58865 17.4473 6.79926 18.2476C7.63009 18.4548 8.02465 18.5 9.00002 18.5C9.9754 18.5 10.37 18.4548 11.2008 18.2476C14.4114 17.4473 16.9426 14.9161 17.7429 11.7055C17.95 10.8747 17.9953 10.4801 17.9953 9.50474C17.9953 8.52936 17.95 8.13481 17.7429 7.30398C17.0228 4.41492 14.9013 2.06286 12.0811 1.02681C11.6243 0.85899 10.8221 0.655991 10.3029 0.576834C9.95174 0.523277 8.54723 0.478205 8.26057 0.511269ZM9.65145 1.93493C10.4764 2.01504 11.1914 2.19149 11.9353 2.49847C13.723 3.23616 15.2686 4.7818 16.0063 6.56942C16.7944 8.47932 16.7944 10.5302 16.0063 12.4401C15.2686 14.2277 13.723 15.7733 11.9353 16.511C10.0254 17.2992 7.97461 17.2992 6.0647 16.511C4.27709 15.7733 2.73145 14.2277 1.99375 12.4401C1.2056 10.5302 1.2056 8.47932 1.99375 6.56942C2.73145 4.7818 4.27709 3.23616 6.0647 2.49847C7.22431 2.01993 8.48589 1.82173 9.65145 1.93493ZM12.2043 6.49677C12.1255 6.53051 11.3041 7.32602 9.92473 8.70447L7.76841 10.8594L6.86127 9.95517C5.91868 9.01553 5.781 8.90856 5.51212 8.9069C5.32549 8.90574 5.03267 9.0661 4.92541 9.22822C4.8171 9.39188 4.78333 9.65037 4.84495 9.84394C4.87904 9.95109 5.14806 10.2416 6.10787 11.2075C6.91318 12.018 7.3753 12.4573 7.46829 12.5008C7.65161 12.5865 7.88552 12.5857 8.06458 12.4986C8.26835 12.3995 13.0617 7.59898 13.136 7.41954C13.2435 7.16017 13.1719 6.80939 12.9744 6.62783C12.7795 6.44871 12.4484 6.39233 12.2043 6.49677Z' fill='%235EB083' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
      height: 18px;
      width: 18px;
      margin-right: 8px;
      margin-top: -2px;
      vertical-align: middle;
      flex-shrink: 0;
    }
  }

  .tagList--colored & {
    background-color: #BDDFFF;
    border-radius: 35px;
    font-size: 12px;
    padding: 14px 16px;    

    @media (min-width: 1070px) {
      font-size: 14px;
      padding: 16px 20px;
    }   
  

    &:nth-child(2n) {
      background-color: #FFD5DB;
    }   
    &:nth-child(3n) {
      background-color: #B6F1DE;
    }
    &:nth-child(4n) {
      background-color: #FFD2C8;
    }
    &:nth-child(5n) {
      background-color: #EBDCFF;
    }
    &:nth-child(6n) {
      background-color: #FFE9AD;
    }
    &:nth-child(7n) {
      background-color: #E8E8E8;
    }
    &:nth-child(8n) {
      background-color: #FFDEEE;
    }
    &:nth-child(9n) {
      background-color: #D7D8FF;
    }
  }
}

.reviewSlider {
  margin-bottom: 70px;

  &.owl-carousel {
    .owl-nav {
      button {

        span {
          top: 49%;
        }
      }
    }
  }
}

.reviewItem {
  @media (min-width: 770px) {
    display: flex;
    align-items: center;
    gap: 52px;
    background-color: #FFF6EF;
    border-radius: 20px;
    padding: 27px;
    position: relative;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      width: 639px;
      height: 639px;
      border: 68px solid rgba(246, 233, 223, 0.65);
      position: absolute;
      right: -319px;
      top: 50%;
      margin-top: -390px;
      border-radius: 50%;
    }
  
    &::after {
      display: block;
      content: '';
      width: 72px;
      height: 45px;
      position: absolute;
      right: 55px;
      bottom: 44px;
      background-image: url('../img/,,.png');
      background-repeat: no-repeat;
      background-position: 0 center;
    }
  }  



  &__person {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 17px;  
    margin-left: 4px;  

    @media (min-width: 770px) {
      display: block;
      position: relative;
      z-index: 1;
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 50px 22px 35px 22px;
      width: 310px;
      flex-shrink: 0;
      margin: 0;
      
      & > * + * {
        margin-top: 22px;
      }
    }  
  }

  &__img {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 80px;

    @media (min-width: 770px) {
      width: 158px;
      height: 158px;
      margin: 0 auto;
    }

    img {
      display: block;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }

  &__name {
    font-size: 22px;
    line-height: 1.68;
    color: #32333D;
    text-align: center;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;

    @media (max-width: 769px) {
      display: none;
    }
  }

  &__tag {
    background-color: #F7FAFF;
    border-radius: 15px;
    font-size: 18px;
    white-space: nowrap;
    padding: 18px 21px;

    &--cta {
      background-color: #E4ECF9;
    }
  }

  &__info {
    position: relative;
    z-index: 1;
    margin-bottom: 35px;

    @media (max-width: 769px) {
      background-color: #FFF6EF;
      border-radius: 20px;
      padding: 18px 30px 23px;
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
    }

    & > * + * {
      margin-top: 17px;

      @media (min-width: 770px) {
        margin-top: 20px;
      }      
    }
  }

  &__title {
    font-size: 15px;
    line-height: 1.54;
    color: #32333D;

    @media (min-width: 640px) {
      font-size: 18px;
    }  
    @media (min-width: 770px) {
      font-size: 20px;
    }  
    @media (min-width: 1070px) {
      font-size: 22px;
      line-height: 1.68;
    }  
  }

  &__text {
    font-size: 13px;
    line-height: 1.54;    

    @media (min-width: 770px) {
      font-size: 16px;
    }  
    @media (min-width: 1070px) {
      font-size: 18px;
      line-height: 1.83;
    }  
  }
}

.faqList {
  margin-bottom: 60px;
}

.faqItem {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;  
  transition: box-shadow 300ms;

  @media (min-width: 640px) {
    padding: 25px 30px;
  }  

  &__ask {
    position: relative;
    font-size: 18px;
    line-height: 1.56;
    color: #32333D;    
    padding-right: 20px;
    cursor: pointer;
    transition: color 300ms;

    @media (min-width: 640px) {
      font-size: 20px;
      line-height: inherit;
    }  
    @media (min-width: 770px) {
      font-size: 22px;
    }  

    &::before {
      display: block;
      content: '';
      border-right: 2px solid #4B587C;
      border-bottom: 2px solid #4B587C;
      height: 9px;
      width: 9px;
      position: absolute;
      right: -7px;
      margin-top: -7px;
      top: 50%;
      transform: rotate(45deg);
    }

    .active > &::before {
      border-color: #5EB083;
      margin-top: -2px;
      transform: rotate(-135deg);
    }

    :hover > &,
    .active > & {
      color: #5EB083;
    }

    &:hover::before {
      border-color: #5EB083;
    }
  }

  &__answer {
    display: none;
    padding-top: 15px;    
    line-height: 1.72;
    color: #325B65;

    @media (min-width: 770px) {
      font-size: 18px;
    }  


    [itemprop="text"] > *:last-child {
      margin-bottom: 0 !important;
    }

    p {
      line-height: 1.72;

      @media (min-width: 770px) {
        font-size: 18px;
      }  
    }

    ul {
      margin: 5px 0 16px 16px;
      padding: 0;

      li {
        &::marker {
          font-size: 14px;
        }
      }
    }
  }
}

.socLinks {
  display: flex;
  gap: 10px;  
}

.socLink {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #272A2D;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 300ms;

  &:hover {
    background-color: #5EB083;
  }

  &--in {
    background-image: url('../img/social/in.png');
  }
  &--fb {
    background-image: url('../img/social/fb.png');
  }
  &--inst {
    background-image: url('../img/social/inst.png');
  }
  &--telega {
    background-image: url('../img/social/telega.png');
  }
}

.contactsBox {
  margin-bottom: 20px;

  @media (min-width: 770px) {
    display: flex;
    gap: 20px;
  }   

  @media (max-width: 769px) {
    & > * + * {
      margin-top: 25px;
    }
  }

  &__img {    
    border-radius: 25px;

    @media (min-width: 770px) {
      width: 400px;
    }   

    picture, img {
      display: block;
      border-radius: 25px;
      max-width: 100%;
    }
  }

  &__list {    
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 33px 33px 33px 38px;
    flex-grow: 1;

    @media (max-width: 1069px) {
      & > * + * {
        margin-top: 25px;
      }
    }
    @media (min-width: 1070px) {
      display: flex;
      gap: 20px 70px;
    }   
  }

  .bttn {
    @media (max-width: 469px) {
      width: 100%;
    }
  }
}

.contactsForm {
  .formBlock {
    form {
      flex-direction: row;
      margin-left: -10px;
      margin-right: -10px;
    }

    &__item {
      margin-left: 10px;
      margin-right: 10px;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        @media (min-width: 770px) {
          width: ~"calc(33.3% - 20px)";
        }   
      }

      &--submit {
        margin-bottom: 0;

        .bttn, [type=submit] {
          width: auto;
          min-width: 185px;

          @media (max-width: 469px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.articleList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;    
  margin-bottom: 80px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }  
  @media (min-width: 1070px) {
    grid-template-columns: repeat(3, 1fr);
  }  
}

.articleListItem {

  & > * + * {
    margin-top: 24px;
    
    @media (min-width: 1070px) {
      margin-top: 17px;
    }  
  }

  &__img {
    display: block;
    position: relative;
    padding-bottom: 65.0%;    
    overflow: hidden;
    border-radius: 20px;
    width: 100%;

    picture, img {
      display: block;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }

  &__date {
    display: block;
    font-size: 15px;   
    color: #82859E;
  }

  &__title {
    display: block;
    font-size: 18px;
    line-height: 142%;
    color: @title-color;
    margin-top: 15px;    

    @media (min-width: 640px) {
      font-size: 20px;
    }  
    @media (min-width: 770px) {
      font-size: 22px;
    }  
    @media (min-width: 1070px) {
      font-size: 24px;
      margin-top: 13px;
    }  
  }

  &__text {
    display: block;
    font-size: 17px;
    line-height: 165%;
    margin-top: 5px;

    @media (min-width: 1070px) {
      margin-top: 10px;
    }  
  }
}

.catBlk {
  margin-bottom: 80px;  
  padding: 30px;
  border-radius: 20px;

  @media (min-width: 640px) {    
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 427px;
  }
  @media (min-width: 770px) {    
    gap: 50px;
  }
  @media (min-width: 1070px) {    
    padding: 30px 95px;
    gap: 112px;
  }

  & + & {
    margin-top: -55px;
  }

  &__label {
    display: table;
    background: #D6EFE1;
    border-radius: 35px;
    font-size: 14px;
    color: #4F4F4F;
    padding: 16px 20px;

    &--cta {
      background: #FFE9AD;
    }
  }

  &__info {    
    max-width: 430px;

    & > * + * {
      margin-top: 16px;
    }
  }

  &__title {
    font-size: 24px;    
    color: @title-color;
  }

  &__text {
    font-size: 15px;
    line-height: 187%;
  }

  &::before {
    display: block;
    content: '';
    height: 206px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 240px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: 640px) {    
      height: 370px;   
      margin: 0;
    }
    @media (min-width: 770px) {    
      width: 300px;
    }
    @media (min-width: 1070px) {    
      background-size: auto;
      width: 40%;
      min-width: 386px;
    }
  }

  &--family {

    &::before {
      background-image: url('../img/family.png');
    }
  }

  &--couple {

    &::before {      
      background-image: url('../img/couple.png'); 
      
      @media (min-width: 640px) {    
        margin-top: -50px;
      }
    } 
  }
}

.ctaBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px 55px;
  flex-wrap: wrap;
  min-height: 200px;
  background-image: url('../img/london.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 37px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 80px;
  text-align: center;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(91, 101, 116, 0.73);
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .title {
    color: #FFF;
    margin-bottom: 0;
    line-height: 1.2;

    @media (min-width: 640px) {
      font-size: 40px;
    }
  }

  .bttn {
    min-width: 250px;
  }
}

.iconBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF6EF;
  border-radius: 20px;
  padding: 35px 25px;  
  position: relative;
  overflow: hidden;  
  margin-bottom: 80px;

  @media (min-width: 640px) {
    padding: 30px 50px;
    align-items: flex-start;
  }
  @media (min-width: 1070px) {
    padding: 30px 95px;
    min-height: 322px;
  }

  .title {
    text-shadow: 2px 2px 0 #FFF6EF, 2px -2px 0 #FFF6EF, -2px 2px 0 #FFF6EF, -2px -2px 0 #FFF6EF, 2px 0px 0 #FFF6EF, 0px 2px 0 #FFF6EF, -2px 0px 0 #FFF6EF, 0px -2px 0 #FFF6EF;
    margin-right: auto;

    @media (min-width: 640px) {
      font-size: 40px;
    }
  }

  .subtitle {
    margin-bottom: 1em;
    text-shadow: 2px 2px 0 #FFF6EF, 2px -2px 0 #FFF6EF, -2px 2px 0 #FFF6EF, -2px -2px 0 #FFF6EF, 2px 0px 0 #FFF6EF, 0px 2px 0 #FFF6EF, -2px 0px 0 #FFF6EF, 0px -2px 0 #FFF6EF;
    margin-right: auto;
  }

  .bttn {
    min-width: 250px;
    margin-right: auto;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  @media (min-width: 1070px) {
    &::before {
      display: block;
      content: '';
      width: 775px;
      height: 775px;
      border-radius: 400px;
      position: absolute;
      top: 50%;
      right: -420px;    
      box-shadow: inset 0 0 0 68px rgba(246, 233, 223, 0.65);
      transform: translate(0%,-50%);
    }
  }

  &::after {
    display: block;
    content: '';
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -35px;
    
    @media (min-width: 640px) {
      position: absolute;
      z-index: 1;
      margin: 0;
    }
    @media (min-width: 1070px) {
      background-size: auto;
    }
  }

  &--family {
    @media (min-width: 1070px) {
      padding-right: 42px;
    }

    &::after {
      background-image: url('../img/family2.png');
      width: 290px;
      height: 290px;

      @media (min-width: 640px) {
        right: 20px;
        bottom: 50%;
        transform: translate(0%,50%);
      }
      @media (min-width: 1070px) {
        width: 343px;
        height: 318px;
        right: 60px;
      }
    }
  }

  &--stamp {
    &::after {
      background-image: url('../img/stamp.png');    
      width: 286px;
      height: 180px;
      
      
      @media (min-width: 640px) {
        width: 375px;
        height: 238px;
        right: 0;
        bottom: 0;  
      }
      @media (min-width: 1070px) {
        right: 50px;
        width: 475px;
        height: 302px;          
      }
    } 
  }
}

.numList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;    
  margin-bottom: 80px;
  counter-reset: numList;

  @media (min-width: 1070px) {
    grid-template-columns: repeat(2, 1fr);
  }  
}

.numItem {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 36px 36px 24px;  
  position: relative;

  @media (min-width: 470px) {
    padding: 39px 36px 39px 140px;
  }  

  & > * + * {
    margin-top: 25px;

    @media (min-width: 470px) {
      margin-top: 14px;
    }
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    counter-increment: numList;
    content: '0'counter(numList);
    font-size: 15px;
    color: #FFFFFF;
    width: 48px;
    height: 48px;
    background: #5EB083;
    border-radius: 24px;
    margin-bottom: 37px;

    @media (min-width: 470px) {
      left: 50px;
      top: 35px;
      position: absolute;
      margin-bottom: 0;
    }  
  }

  &::after {
    display: block;
    content: '0'counter(numList);
    color: #FBFBFB;
    font-weight: 700;
    font-size: 73px;
    line-height: 1;
    right: 28px;
    bottom: -18px;
    position: absolute;

    @media (min-width: 470px) {
      right: 17px;
      bottom: -13px;
    }  
  }

  &__title {
    font-size: 24px;
    color: @title-color;
  }

  &__text {
    font-size: 15px;
    line-height: 187%;
    color: #5B6574;
  }
}

.tnxLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto 40px;
  gap: 44px;
}

.tnxLink {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  min-width: 188px;
  padding: 5px 16px;
  min-height: 42px;
  border-radius: 20px;

  &::before {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30px;
    width: 30px;
  }
  
  &--tlg {
    background-color: #0194DD;
    color: #FFF;
  }
  &--tlg::before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='26' viewBox='0 0 30 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.408 23.3524C10.543 23.3524 10.691 23.0254 10.392 22.2044L7.85199 13.8424L27.408 2.2404L11.408 23.3524Z' fill='%23ECEFF1'/%3e%3cpath d='M11.408 23.3524C12.075 23.3524 12.37 23.0474 12.741 22.6854L16.297 19.2274L11.861 16.5534L11.408 23.3524Z' fill='%23CFD8DC'/%3e%3cpath d='M11.861 16.5554L22.608 24.4954C23.836 25.1714 24.719 24.8214 25.025 23.3564L29.4 2.7414C29.848 0.945403 28.716 0.131403 27.542 0.663403L1.85399 10.5694C0.0999924 11.2724 0.111992 12.2514 1.53399 12.6864L8.12599 14.7444L23.387 5.1164C24.108 4.6794 24.769 4.9144 24.227 5.3964L11.861 16.5554Z' fill='white'/%3e%3cpath d='M23.687 25.3274C23.285 25.3274 22.844 25.1954 22.367 24.9324L11.564 16.9564C11.443 16.8674 11.369 16.7284 11.361 16.5784C11.354 16.4284 11.414 16.2834 11.526 16.1824L24.322 4.6674C24.527 4.4824 24.843 4.4984 25.028 4.7044C25.213 4.9094 25.196 5.2254 24.991 5.4104L12.651 16.5164L22.905 24.0924C23.176 24.2374 23.634 24.4214 23.96 24.2704C24.292 24.1184 24.456 23.6334 24.536 23.2534L28.911 2.6364C29.081 1.9554 28.999 1.4074 28.696 1.1554C28.465 0.963403 28.121 0.949403 27.749 1.1174L2.03299 11.0354C1.24399 11.3524 0.995992 11.6784 0.999992 11.7864C1.00299 11.8574 1.17299 12.0534 1.67999 12.2084L8.05499 14.1984L15.054 9.7824C15.288 9.6364 15.596 9.7054 15.743 9.9384C15.89 10.1714 15.821 10.4804 15.587 10.6274L8.39299 15.1664C8.26899 15.2444 8.11599 15.2644 7.97699 15.2214L1.38499 13.1634C0.214992 12.8054 0.0149925 12.1734 0.000992454 11.8284C-0.0190075 11.3554 0.253992 10.6714 1.66799 10.1054L27.363 0.197403C28.06 -0.120597 28.808 -0.0525974 29.337 0.388403C29.95 0.899403 30.15 1.8014 29.886 2.8624L25.515 23.4604C25.331 24.3384 24.949 24.9174 24.378 25.1794C24.163 25.2784 23.933 25.3274 23.687 25.3274Z' fill='%23455A64'/%3e%3c/svg%3e ");
  }
  
  &--wapp {
    background-color: #45C455;
    color: #FFF;
  }
  &--wapp::before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.5868 20.7801L18.5866 20.7802C17.9557 20.8725 17.1413 20.9146 16.2435 20.6327L16.2433 20.6326C15.7259 20.4696 15.057 20.252 14.2007 19.8868C10.8073 18.4395 8.52165 15.1971 8.10658 14.6083C8.07795 14.5677 8.05822 14.5397 8.04764 14.5258L8.0474 14.5255L8.04397 14.5209C7.94734 14.3936 7.57997 13.9093 7.2346 13.2377C6.88685 12.5616 6.54999 11.6741 6.54999 10.7564C6.54999 9.04399 7.41181 8.13695 7.78837 7.74063C7.81353 7.71415 7.83652 7.68995 7.85695 7.66794C8.23767 7.25771 8.69233 7.15 8.9852 7.15C9.22314 7.15 9.46335 7.15301 9.67598 7.16287L9.67678 7.16291C9.68426 7.16328 9.69606 7.16305 9.71139 7.16275C9.79372 7.16116 9.97794 7.15759 10.1426 7.23428C10.3591 7.33514 10.5372 7.54794 10.6922 7.91615C10.7958 8.16223 10.9473 8.52638 11.1046 8.90463C11.4025 9.6209 11.7214 10.3877 11.7766 10.4991C11.8812 10.7057 11.9756 11.0012 11.8065 11.3369C11.7904 11.3688 11.7751 11.3997 11.7602 11.4301C11.6707 11.6117 11.5917 11.772 11.418 11.9721C11.3666 12.0313 11.3097 12.0997 11.2505 12.1707C11.1241 12.3226 10.9875 12.4867 10.873 12.5995L10.8729 12.5997C10.7772 12.6937 10.7298 12.7477 10.7099 12.8005C10.6993 12.8288 10.6846 12.8846 10.7576 13.0085C10.9596 13.3515 11.6546 14.4698 12.6784 15.3712L12.6784 15.3712C13.7757 16.3376 14.7174 16.7423 15.2217 16.959C15.3243 17.0031 15.4089 17.0395 15.4729 17.0711C15.6333 17.1505 15.7207 17.1625 15.7712 17.1564C15.8116 17.1516 15.8632 17.1312 15.9421 17.042L16.1294 17.2076L15.9419 17.0422C16.1517 16.8044 16.8187 16.0298 17.0435 15.6963C17.1888 15.4807 17.3648 15.3503 17.5877 15.325C17.7833 15.3027 17.977 15.3695 18.1324 15.4254L18.5868 20.7801ZM18.5868 20.7801C18.9734 20.7232 19.5309 20.4935 20.0243 20.1813M18.5868 20.7801L20.0243 20.1813M20.0243 20.1813C20.5113 19.8732 21 19.4447 21.1771 18.9546L20.0243 20.1813ZM21.3617 17.0766C21.2801 16.9429 21.1463 16.8584 21.0274 16.7939C20.9533 16.7538 20.8606 16.7095 20.7619 16.6623C20.7026 16.6339 20.6411 16.6045 20.5801 16.5743C20.4018 16.4861 19.8767 16.2302 19.3554 15.9819C18.8425 15.7374 18.311 15.4894 18.1328 15.4256L21.3617 17.0766ZM21.3617 17.0766C21.3618 17.0767 21.3618 17.0768 21.3619 17.077L21.1484 17.207L21.3617 17.0766ZM2.21852 20.8415L2.24654 20.7415L2.19549 20.6511C1.05271 18.6271 0.449994 16.333 0.449994 14C0.449994 6.52887 6.52887 0.45 14 0.45C21.4711 0.45 27.55 6.52887 27.55 14C27.55 21.4711 21.4711 27.55 14 27.55C11.7672 27.55 9.55961 26.995 7.59984 25.9429L7.51498 25.8974L7.42148 25.9205L0.885534 27.5395C0.885288 27.5396 0.885043 27.5396 0.884798 27.5397C0.855843 27.5466 0.827119 27.55 0.799994 27.55C0.706497 27.55 0.615545 27.5125 0.548684 27.4436L0.548414 27.4433C0.462036 27.3545 0.429245 27.2259 0.462919 27.1055C0.462927 27.1054 0.462935 27.1054 0.462943 27.1054L2.21852 20.8415Z' fill='white' stroke='black' stroke-width='0.5'/%3e%3c/svg%3e ");
  }
  
  &--mail {
    background-color: #FFF4E0;
    color: #0B0202;
  }
  &--mail::before {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg enable-background='new 0 0 32 32' height='32px' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Gmail'%3e%3cpath d='M28.5,26.5h-25c-1.104,0-2-0.896-2-2v-17c0-1.104,0.896-2,2-2h25c1.104,0,2,0.896,2,2v17 C30.5,25.604,29.604,26.5,28.5,26.5z' fill='%23FFFFFF'/%3e%3cpath d='M29.64,8.973L16,18.305L2.36,8.973C2.262,8.905,2.177,8.822,2.093,8.738l-0.013,0l17.715,17.716h8.728 c1.088,0,1.978-0.89,1.978-1.977V7.341C30.5,8.019,30.159,8.617,29.64,8.973z' fill='%23ECEFF1'/%3e%3cpath d='M30.5,7v17.542c0,1.082-0.877,1.958-1.958,1.958H27V7H30.5z' fill='%23FF8A80'/%3e%3cpath d='M1.5,7v17.542c0,1.082,0.877,1.958,1.958,1.958H5V7H1.5z' fill='%23FF8A80'/%3e%3cpath d='M28.522,5.364L16,13.932L3.478,5.364C2.39,5.364,1.5,6.254,1.5,7.341c0,0.677,0.341,1.275,0.86,1.631 L16,18.305l13.64-9.333c0.519-0.356,0.86-0.954,0.86-1.631C30.5,6.254,29.61,5.364,28.522,5.364z' fill='%23FF8A80'/%3e%3cpath d='M28.5,27h-25C2.122,27,1,25.878,1,24.5v-17C1,7.224,1.224,7,1.5,7S2,7.224,2,7.5v17 C2,25.327,2.673,26,3.5,26h25c0.827,0,1.5-0.673,1.5-1.5v-17C30,6.673,29.327,6,28.5,6C28.224,6,28,5.776,28,5.5S28.224,5,28.5,5 C29.878,5,31,6.122,31,7.5v17C31,25.878,29.878,27,28.5,27z' fill='%23455A64'/%3e%3cpath d='M16,19c-0.099,0-0.198-0.029-0.284-0.088L2.066,9.498C1.398,9.038,1,8.278,1,7.467C1,6.107,2.107,5,3.467,5 h25.065C29.893,5,31,6.107,31,7.467c0,0.811-0.398,1.57-1.066,2.031l-13.65,9.414C16.198,18.971,16.099,19,16,19z M3.467,6 C2.658,6,2,6.658,2,7.467C2,7.95,2.237,8.401,2.634,8.675L16,17.893l13.366-9.218C29.763,8.401,30,7.95,30,7.467 C30,6.658,29.342,6,28.533,6H3.467z' fill='%23455A64'/%3e%3c/g%3e%3c/svg%3e");
  }
}

.vimeoBlock{
  width:640px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;

  iframe{
    display:block;
    height:auto;
    width:100%;
    aspect-ratio:16 / 9;
  }
}