@first-color: #5B6574;
@title-color: #000000;
@cta-color: #116D54;
@cta-hover-color: #06533E;

.link () {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color: @cta-color;

    &[href^='tel:'] {
      text-decoration-line: none;
    }

    &:hover {
      color: @cta-hover-color;
    }
};